.background{
    -fx-background-image: url("http://wallpaperscraft.com/image/wooden_background_board_65898_1280x800.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.font{
	-fx-fill: rgba(0,255,0,1);
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-font-family: "Exo";
}

.title{
	-fx-fill: rgba(255,255,255,1);
    -fx-font-size: 50pt;
    -fx-font-weight: bold;
    -fx-font-family: "Exo";
}

.scrollPane{
	-fx-background: rgba(0,0,0,1);
}